<<<<<<< HEAD
.body {
    max-width: 1000px;
    margin: 0 auto;
    color: #28536b;
    background-color: #63aef0;
    border: 3px solid #0b0469;
    font-family: "Lato", sans-serif;
    line-height: 1.3;
}

.dark {
    color: #2968b9;
    background-color: #0d133d;
    border: 3px solid #463bd6;
}

.main__img {
    height: 550;
    width: 250;
    margin: 5px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
=======
.body {
    max-width: 1000px;
    margin: 0 auto;
    color: #28536b;
    background-color: #63aef0;
    border: 3px solid #0b0469;
    font-family: "Lato", sans-serif;
    line-height: 1.3;
}

.dark {
    color: #2968b9;
    background-color: #0d133d;
    border: 3px solid #463bd6;
}

.main__img {
    height: 550;
    width: 250;
    margin: 5px;
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
>>>>>>> 23d043107ba85f3732f9dcfabb1ead9253a1b689
}