.button {
    width: 180px;
    height: 30px;
    margin: 12px;
    color: #b3e6fa;
    border-radius: 5px;
    outline: 2px solid black;
    box-shadow: 2px 2px 3px 3px rgb(5, 1, 20);
    background-color: #1b1b1b;
}

.button:focus {
    outline: 2px solid #0396a6;
}

.button:hover {
    color: #53e9ee;
    outline: none;
}
