.section {
    padding: 0 15px;
    margin-bottom: 40px;
}

.section__paragraph {
    text-align: justify;
    color: #28536b;
    font-family: "Lato", sans-serif;
    line-height: 1.4;
}

.section__emphasis {
    text-shadow: 1px 1px #dddddd;
}

.section__header {
    color: #162333;
    background-color: #c8eeff;
    text-align: center;
    font-size: 23px;
    padding: 0 5 0 25px;
}

.section__subHeader {
    margin-bottom: 15px;
    font-size: 20px;
    padding: 0 0 0 15px;
}

.section__listItem {
    line-height: 1.5;
}

.section__aside {
    width: 40px;
    height: 30px;
    float: right;
    font-size: 23px;
    background-color: #230763;
    font-style: normal;
    text-align: center;
    border-radius: 10px;
    margin: 10 10 0 16px;
}

.section__link {
    color: #ffffff;
    text-decoration: none;
}

.section__link:hover {
    color: #53e9ee;
}